li,
a,
button {
    font-size: 18px;
    color:  white !important;//rgb(67,71,71);
    text-decoration: none;
}

//the main outer div of all the elemnts exists
.main {
    margin-left: 20px;
    width: 97%;
}

.sidebar {
    border: 2px solid yellow;
    height: 100vh;
}

//heaader and side adjusted according to the color, padding flex and margin 
.sidebar-header {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;

    p{
        color: white;
        font-size: xx-large;
        margin-top: 11%;
        margin-left: -5%;
        font-style:oblique;
    }

    img{
        margin-left: -5%;
    }
}

.menu-icons {
    margin: 15px;
    padding-top: 50px;
}
// the div for logout extends the menu icon class
.logout-div {
    @extend .menu-icons;
    margin-top: -2.5%;
}


//styling for the header
.header {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: -15%;
    width: 102%;
    margin-left: -2%;
    opacity: 0.96;
    box-shadow: 0 0 3px gray;
    padding: 15px 20px;
    border-radius: 7px;
    background-color:rgb(1, 1, 1) ;
    z-index: 1;

    img{

        width: 200px;
        height: 110px;
    }
}

.body{
    height: 90vh;
    margin-top: 15%;
}

.role {
    color: rgb(247, 249, 250);
    font-size: 15px;
    padding-top: 0px;
    margin-left: 35px;
    margin-top: 7%;
}
//styling for the menu icons
.menu {
    display: flex;
    justify-content: space-around;
//     flex-direction: row;
    margin: 0px 0px;
    >div {
        padding: 0px 30px;
    }

    .logout-div {
        margin-left: 450px;
    }

    a{
        color: black;
    }

    a:hover{
        color: #4d8b8c;
    }
}
//styling the logout button
.logout-button{

    // background-color: rgb(241, 249, 249);
    border-radius: 15px;
    border: 0px;
    line-height: 32px;
    padding: 5px 18px 5px 18px;
    color: rgb(4, 4, 4) !important;
    background-color: white !important;


    >a{
        font-size: medium;
        font-weight: 550;
        color: rgb(5, 0, 0) !important;
    }
}

.background-img{
    position: fixed;
    opacity: 0.9;
    width: 100%;
    z-index: -1;
    margin-top: -19%;
    margin-left: -1.4%;
    background-color: gray;
}

.trainer-form-submit-div{
    button{
        color: white;
        background-color: black;
    }
}

.signuptest{
    a{
        color:#337ab7 !important;
    }
}

// .page-header{
//     color: white;
// }

// .page-title, .ant-form-item-required, .ant-progress-text {
//     color: white !important;
// }

// .ant-progress, .ant-progress-circle-trail {
//     stroke: rgb(254, 250, 250);
//     stroke-opacity: 82%;
//     // opacity: 0.2;

// }
// .logout-button:hover{
//     color: #4d8b8c;
// }

